<div class="col-12">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
               
                    <div class="form">
                      
                      <form class="register-form" id="form_registra" autocomplete="off">   

                        <input type="search" id="nome" value="" placeholder="Nome de usuario Ex: maria@julia" required autocomplete="false"/>      
                       
                        <input type="email" id="email" placeholder="Email" hidden/> 
                        
                        <input type="password" id="senha" value="" placeholder="Senha" required/> 
                         
                        <input type="password" id="senha2" value="" placeholder="Confirme a senha" required/>

                        <span class="error text-danger" id="info_registra_error"></span>    

                        <button id="registra_usuario">criar</button>

                        <p class="message">Ja é cadastrado? <a href="#">Faça o Login</a></p>
                      </form>

                      <form class="login-form" id="login-form"  autocomplete="off">
                        
                      </form>  

                    </div> 

            </div>
        </div>
    </div>
</div>
