<div class="col-12">
  <ul class="list-group" id='tarefa_lista'>  
  </ul>
</div>


<!--
<li class="list-group-item rounded-0">    
    <div class="row">         
      <div class="col-10 list-group-item-action" id="textoId'+id+'" >
        <div> '+tarefa_texto+' </div>
      </div>
      <div class="col-2"> 
        <div class="custom-control custom-checkbox">
           <input class="custom-control-input" id="customCheck'+id+'" type="checkbox"> 
           <label class="cursor-pointer custom-control-label" for="customCheck'+id+'"></label>
        </div>
      </div>    
    </div>   
</li>


  <form> 
  <div class="form-group"> 
    <input type="email" class="form-control" id="anotacao_tarefa" placeholder="Digite uma nota de no máximo 50 caracteres">
  </div>  
</form>


-->





 


 