<div class="col-12">
  <ul class="list-group" id='tarefa_lista'>   
  </ul>
</div>

 <!--
<br>

<div class="col-12">
  <ul class="list-group list-group-horizontal-xl">
    
    <li class="list-group-item rounded-0">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="customCheck6" type="checkbox">
            <label class="cursor-pointer custom-control-label" for="customCheck6">Martinsssi</label>
        </div>
    </li>

    <li class="list-group-item rounded-0">
      <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="customCheck7" type="checkbox">
          <label class="cursor-pointer custom-control-label" for="customCheck7">Martissani</label>
      </div>
  </li>

  <li class="list-group-item rounded-0">
    
    <div class="row">
     
      <div class="col-8">
        <div>Test</div>
      </div>

      <div class="col-4"> 
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="customCheck8" type="checkbox">
          <label class="cursor-pointer custom-control-label" for="customCheck8"></label>
        </div>
      </div>

    </div>
      
    
  </li> 

</ul>
</div>
<br>
-->

 


 