body{
    padding-top: 70px;    
}

.btn {
    background-color: #04AA6D;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 20px 4px;
  }

  

  .custom-control.custom-checkbox{
      padding-left: 0;
      text-align: right;
    }

  label.custom-control-label {
    position: relative;
    padding-right: 1.5rem; 
  }
  
  label.custom-control-label::before, label.custom-control-label::after{
    right: 0;
    left: auto;
  }